<!DOCTYPE html>
<html>
  <head>
    <title>ChenTube</title>
  </head>
  <body>
    <script src="/yts/jsbin/tv-oauth-vflmQZ6Ph.js" data-loaded="true"></script>

  <script>
  yt.pubsub.subscribe('init', function() {
    yt.www.leanbackoauth.init();
      yt.setAjaxToken('leanback_actions', "eImH4aOciMLFBGAn54ZMu5i_lq18MTM0OTQwODcwMkAxMzQ5MzIyMzAy");
  });
  </script>

  </body>
</html>
